*{
/* outline: 1px solid black; */
}

.search-box { 
  padding: 1em;
}

.photos {
  /* line-height: 0; */
  /* -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px; */
  column-count:         4;
  column-fill: balance;
  column-gap:           1em;  
}

.photos img {
  width: 100% !important;
  height: auto !important;
  border-radius: 1em;
  margin-top: 1em;
  /* padding: 0.25em;  */
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(57, 56, 56,0.7);

}
.photos img:hover {
  transform: scale(1.025);
}


.img-button {
  background-color: white;
  border: none;
  outline: none;
  color: white;
  padding: 0;
  margin: 0;
}

.modal-img{
  padding: 0% !important;
}

@media (max-width: 1200px) {
  .photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}