body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  /* outline: solid 1px rgb(138, 19, 65) */
}

.faceplate-form{
  min-width: 250px;
}

.topLabel{
  padding-top:2px;
  padding-bottom: 2px;
  outline: 1px solid;
}

.trLocation{
  margin: 5px;
}

.main{
  display: block;
  margin: 0 auto;
  width:min-content;
  text-align: center;
}

.patchLocation div{
  display: inline-block;
  width: min-content;
}

.data{
  display: inline-block;
  margin-right: 80px;
}
.voice {
  display: inline-block;
}






