.block{
  background-color: black;
  /* margin: 1px; */
  height: 10px;
  width: 10px;
  /* display: block; */
}
.snake{
  background-color: rgb(206, 22, 22);
  /* margin: 1px; */
  height: 10px;
  width: 10px;
  /* display: block; */
}
.row{
  display: flex;
}